<ul>
    {% for employee in employees %}
        <li>
            <button class="employee btn btn-default" data-id="{{ employee.id }}"><span>{{ employee.first_name }} {{ employee.last_name }} - {{ employee.position }}</span></button>
            <div class="subordinates">
            {% if level < 2 and employee.subordinates.all %}
                    {% include 'employee_node.html' with employees=employee.subordinates.all level=level|add:1 %}
            {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>