<!-- templates/employees/employee_list.html -->
{% extends 'base.html' %}

{% block title %}Employee List{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>Employee List</h1>
    <a class="btn btn-primary mb-2" href="/employees/create">Create</a>
    <table id="employeeTable" class="display">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Hire Date</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#employeeTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'employee_list_json' %}",
            "columns": [
                {"data": "first_name"},
                {"data": "last_name"},
                {"data": "email"},
                {"data": "date_of_hire"}
            ],
            "pageLength": 10,
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
        });
    });
</script>
{% endblock %}
