<!-- employees/templates/employees/hierarchy.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Employee Hierarchy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Employee Hierarchy</h1>
        <div id="hierarchy-tree">
            {% include 'employee_node.html' with employees=top_managers level=0 %}
        </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#hierarchy-tree .employee').click(function() {
                var employeeId = $(this).data('id');
                console.log(employeeId);
                var subordinatesList = $(this).next('.subordinates');
                $.ajax({
                        url: '/employees/load_subordinates/' + employeeId + '/',
                        method: 'GET',
                        success: function(data) {
                           subordinatesList.html(data);
                        }
                });
            });


        });
    </script>
</body>
</html>
